* {
    font-family: "Geist", sans-serif;
}
.search-box {
  padding-left: 30px;
  /* height: 40px; */
  /* width: 250px; */
  /* color:black; */

  background-image: url("../assets/Vector.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 15px;
}

